<div>

    <h1 class="alert alert-info">Admin Panel </h1>

</div>
<div  class="jumbotron">
    <div  class="container-fluid">
       
        
        
        
        
        
        
        
        
        
        
        
        
        
        <div>
            <div class="col-md-12">
                <div class="col-md-6">
                    <a href="@Url.Action("AllUser","Home")" class="btn btn-success">User's Managment        </a><br /><br />
                </div>
                <div class="col-md-6">
                    <h6>Total User:@ViewBag.abc3</h6>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6">
                    <a href="@Url.Action("Category","Home")" class="btn btn-success">Categories Managment </a><br /><br />
                </div>
                <div class="col-md-6">
                    <h6>Total Caegories:@ViewBag.abc</h6>
                </div>


            
        </div>
           <div class="col-md-12">
               <div class="col-md-6"> <a href="@Url.Action("Product","Home")" class="btn btn-success">Products Managment </a>
           </div>
           <div class="col-md-6"><h6>Total Products:@ViewBag.abc2</h6></div> 

           </div>
      </div>
        </div>

</div>
